<!DOCTYPE html>
<html ng-app="main">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Background Generator</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-csp.css">
	<link rel="stylesheet" href="../dist/jlg-bubble.css">
	<link rel="stylesheet" href="style.css">
</head>

<body jlg-bubble="cfg" ng-cloak>
	<main>
		<h1>JLG Bubble AngularJS module</h1>
		<p>Here is the demo of the module, do not hesitate to play with it and generate some nice background screens :)</p>
		<form>
			<label><span>Count: </span><input type="range" ng-model="cfg.count" min="20" max="1000"><span>{{cfg.count}}</span></label>
			<br>
			<button-group class="clearfix">
				<button jlg-state="color.blue">Blue</button>
				<button jlg-state="color.red">Red</button>
				<button jlg-state="color.green">Green</button>
				<button jlg-state="color.yellow">Yellow</button>
			</button-group>
			<br>
			<label><span>Opacity: </span><input type="range" ng-model="cfg.opacity" min="0.05" max="1" step="0.05"><span>{{cfg.opacity}}</span></label>
			<br>
			<button-group class="clearfix">
				<button jlg-state="cfg.grow">Grow and burst</button>
				<button jlg-state="cfg.move">Move</button>
			</button-group>
		</form>
	</main>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
	<script src="../dist/jlg-bubble.js"></script>
	<script src="main.js"></script>

</body>

</html>